$black-color: RGB(3, 4, 3);
$primary-color: RGB(33, 33, 33);
$white-color: RGB(254, 255, 255);
$light-color: RGB(235, 236, 234);
$secondary-color: RGB(44, 44, 44);

$box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
$transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
